<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.github.lbroudoux.dsl.eip.design.Activator"
               id="com.github.lbroudoux.dsl.eip.design"
	       name="eip">
    </component>
  </extension>
</plugin>
