<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated eip -->
      <factory
            uri="http://www.github.com/lbroudoux/dsl/eip/1.0"
            class="com.github.lbroudoux.dsl.eip.provider.EipItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>



<!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.github.com/lbroudoux/dsl/eip/1.0"
            class="com.github.lbroudoux.dsl.eip.providers.EipEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="com.github.lbroudoux.dsl.eip.providers.EipPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.github.lbroudoux.dsl.eip.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ChannelPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ChannelPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Channel"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RouterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RouterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Router"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.FilterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.FilterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Filter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.TransformerPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.TransformerPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Transformer"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.GatewayPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.GatewayPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Gateway"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ConditionalRoutePropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ConditionalRoutePropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ConditionalRoute"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.SplitterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.SplitterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Splitter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.AggregatorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.AggregatorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Aggregator"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RoutePropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RoutePropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Route"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceActivatorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceActivatorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceActivator"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.EIPModelPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.EIPModelPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.EIPModel"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.EnricherPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.EnricherPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Enricher"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.CompositeProcessorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.CompositeProcessorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.CompositeProcessor"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RecipientListRouterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RecipientListRouterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.RecipientListRouter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceRefPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceRefPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceRef"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceInvocationPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceInvocationPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceInvocation"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.InvocableEndpointPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.InvocableEndpointPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.InvocableEndpoint"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ContentFilterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ContentFilterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ContentFilter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ResequencerPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ResequencerPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Resequencer"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>


   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ChannelPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ChannelPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Channel"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RouterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RouterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Router"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.FilterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.FilterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Filter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.TransformerPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.TransformerPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Transformer"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.GatewayPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.GatewayPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Gateway"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ConditionalRoutePropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ConditionalRoutePropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ConditionalRoute"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.SplitterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.SplitterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Splitter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.AggregatorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.AggregatorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Aggregator"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RoutePropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RoutePropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Route"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceActivatorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceActivatorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceActivator"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.EIPModelPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.EIPModelPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.EIPModel"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.EnricherPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.EnricherPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Enricher"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.CompositeProcessorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.CompositeProcessorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.CompositeProcessor"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RecipientListRouterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RecipientListRouterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.RecipientListRouter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceRefPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceRefPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceRef"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceInvocationPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceInvocationPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceInvocation"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.InvocableEndpointPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.InvocableEndpointPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.InvocableEndpoint"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ContentFilterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ContentFilterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ContentFilter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ResequencerPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ResequencerPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Resequencer"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.tree.ui.EditorID">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.tree.ui.EditorID">
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ChannelPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ChannelPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Channel"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RouterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RouterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Router"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.FilterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.FilterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Filter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.TransformerPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.TransformerPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Transformer"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.GatewayPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.GatewayPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Gateway"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ConditionalRoutePropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ConditionalRoutePropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ConditionalRoute"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.SplitterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.SplitterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Splitter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.AggregatorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.AggregatorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Aggregator"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RoutePropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RoutePropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Route"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceActivatorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceActivatorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceActivator"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.EIPModelPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.EIPModelPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.EIPModel"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.EnricherPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.EnricherPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Enricher"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.CompositeProcessorPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.CompositeProcessorPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.CompositeProcessor"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.RecipientListRouterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.RecipientListRouterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.RecipientListRouter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceRefPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceRefPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceRef"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ServiceInvocationPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ServiceInvocationPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ServiceInvocation"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.InvocableEndpointPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.InvocableEndpointPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.InvocableEndpoint"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ContentFilterPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ContentFilterPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.ContentFilter"
               tab="Base">
         </propertySection>
         <propertySection
               class="com.github.lbroudoux.dsl.eip.parts.forms.ResequencerPropertiesEditionPartForm"
               filter="com.github.lbroudoux.dsl.eip.providers.ResequencerPropertiesEditionProvider$EditionFilter"
               id="com.github.lbroudoux.dsl.eip.section.Resequencer"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
