<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
         adaptable="true"
         id="com.github.lbroudoux.dsl.eip.parser.camel.ui.compareContribution"
         objectClass="org.eclipse.core.resources.IResource">
         
         <action
               class="com.github.lbroudoux.dsl.eip.parser.camel.ui.actions.CompareWithRouteAction"
               icon="icons/obj16/Route.gif"
               id="com.github.lbroudoux.dsl.eip.parser.camel.ui.actions.CompareWithRouteAction"
               label="Compare With EIP Route"
               menubarPath="compareWithMenu/eipCompareWithGroup">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.commands" name="EIP Commands">
      <category
         id="com.github.lbroudoux.dsl.eip.parser.camel.ui.commandCategory"
         name="EIP Camel UI">
      </category>
      <command
         id="com.github.lbroudoux.dsl.eip.parser.camel.ui.actions.CompareWithRoute"
         categoryId="com.github.lbroudoux.dsl.eip.parser.camel.ui.commandCategory"
         defaultHandler="com.github.lbroudoux.dsl.eip.parser.camel.ui.actions.CompareWithRouteHandler"
         name="Compare With EIP Route Command">
      </command>
   </extension>
</plugin>
