<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.eip"
            id="com.github.lbroudoux.dsl.eip.gen.spring.ui.popupMenus.contribution.IFile">
         <menu id="com.github.lbroudoux.dsl.eip.gen.menu" label="EIP Generation" path="additionsAcceleo">
               <groupMarker name="eip"/> 
         </menu>
         <action
               class="com.github.lbroudoux.dsl.eip.gen.spring.ui.popupMenus.AcceleoGenerateEIPtoSpringAction"
               enablesFor="+"
               id="com.github.lbroudoux.dsl.eip.gen.spring.ui.popupMenus.acceleoGenerateEIPtoSpringAction"
               icon="icons/default.gif"
               label="Generate Spring Integration"
               menubarPath="com.github.lbroudoux.dsl.eip.gen.menu/eip"/>
      </objectContribution>
   </extension>
</plugin>
